In [2]:
import pandas as pd
print(pd.__version__)

2.3.3

#### DataFrame o que é?

Data frame pode ser definido como uma tabela parecida com excel, ou seja
o python gera tabelas através de valores alocados no usuário.

In [3]:
dados = { # how the data is implemented
    "Nome" : ["Ana", "Bruno", "Henrique", "Carlos"],
    "Idade" : [24,30,35,12]
}
df = pd.DataFrame(dados)  # pandas.DataFrame -> pandas resource used / (dados) -> set of data used
df
# already shows an "ID"

       Nome  Idade
0       Ana     24
1     Bruno     30
2  Henrique     35
3    Carlos     12

### Series

É Como se fosse uma coluna de valores

In [4]:
s = pd.Series([10,20,30])
s

0    10
1    20
2    30
dtype: int64

## Ler banco de dados